.waveContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.wave path {
  animation: wave-animation 8s ease-in-out infinite;
}

.wave:nth-child(2) path {
  animation-delay: -2s;
  animation-duration: 10s;
}

.wave:nth-child(3) path {
  animation-delay: -4s;
  animation-duration: 12s;
}

.wave:nth-child(4) path {
  animation-delay: -6s;
  animation-duration: 14s;
}

@keyframes wave-animation {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
}
